:root{
    --branco-card: #EFF1FA;
    --verde-claro: #EFFAF5;
    --verde-escuro: #257953;
    --vermelho-claro: #FEECF0;
    --vermelho-escuro: #CC0F35;
    --azul-claro: #EFF1FA;
    --azul-escuro: #3850B7;
}